%header.header
  .container
    %nav
      %ul.nav
        %li.nav-item
          = link_to "Home", root_path, class: 'nav-link active'
        %li.nav-item
          = link_to "About", "#", class: 'nav-link active'
        = render 'layouts/search_form'